<!-- Main container -->
<div class="container main-content">
  <!-- Categories section -->
  <div class="categories-section">
    <div class="search-section-wrapper">
      <h1>{{ "appList.categories.main-title" | translate }}</h1>
      <!-- Search section -->
      <div class="search-section">
        <!-- Search input with icon prefix -->
        <nz-input-group [nzPrefix]="searchPrefix">
          <input
            type="text"
            nz-input
            [placeholder]="'appList.search.placeholder' | translate"
            [(ngModel)]="searchQuery"
            (ngModelChange)="onSearch()"
            aria-label="Search apps"
          />
        </nz-input-group>
        <!-- Search icon template -->
        <ng-template #searchPrefix>
          <span nz-icon nzType="search"></span>
        </ng-template>
      </div>
    </div>
    <div class="section-title">
      <h2>{{ "appList.categories.title" | translate }}</h2>
      <!-- <a href="#">View All</a> -->
    </div>
    <!-- Grid of category buttons -->
    <div
      class="categories-grid"
      (mousedown)="startDragging($event)"
      (mousemove)="onDrag($event)"
      (mouseup)="stopDragging()"
      (mouseleave)="stopDragging()"
    >
      <div
        class="category-item"
        role="button"
        [class.selected]="selectedCategory === 'all'"
        aria-label="Filter by All"
        (click)="filterByCategory('all')"
      >
        <span class="category-icon">
          <svg
            fill="#A0533B"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            stroke="#A0533B"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M80 80l0 96 96 0 0-96L80 80zM32 80c0-26.5 21.5-48 48-48l96 0c26.5 0 48 21.5 48 48l0 96c0 26.5-21.5 48-48 48l-96 0c-26.5 0-48-21.5-48-48l0-96zM80 336l0 96 96 0 0-96-96 0zm-48 0c0-26.5 21.5-48 48-48l96 0c26.5 0 48 21.5 48 48l0 96c0 26.5-21.5 48-48 48l-96 0c-26.5 0-48-21.5-48-48l0-96zM432 80l-96 0 0 96 96 0 0-96zM336 32l96 0c26.5 0 48 21.5 48 48l0 96c0 26.5-21.5 48-48 48l-96 0c-26.5 0-48-21.5-48-48l0-96c0-26.5 21.5-48 48-48zm0 304l0 96 96 0 0-96-96 0zm-48 0c0-26.5 21.5-48 48-48l96 0c26.5 0 48 21.5 48 48l0 96c0 26.5-21.5 48-48 48l-96 0c-26.5 0-48-21.5-48-48l0-96z"
              ></path>
            </g>
          </svg>
        </span>
        <span class="category-item--title">{{ "appList.categories.all" | translate }}</span>
      </div>
      <div
        class="category-item"
        *ngFor="let category of categories"
        [class.selected]="selectedCategory === category.name"
        (click)="filterByCategory(category.name)"
        role="button"
        [attr.aria-label]="'Filter by ' + category.name"
      >
        <span class="category-icon" [innerHTML]="category.icon"></span>
        <span class="category-item--title">{{
          "appList.categories." + category.name.toLowerCase() | translate
        }}</span>
      </div>
    </div>
  </div>

  <!-- Apps grid section -->
  <div class="apps-section">
    <div class="section-title">
      <h2>{{ "appList.apps.title" | translate }}</h2>
    </div>

    <!-- Grid of app cards -->
    <div class="app-grid">
      <div nz-row [nzGutter]="[24, 24]" class="app-grid-row"> 
        <div nz-col nzXs="18" nzSm="12" nzMd="8" nzLg="6" nzXl="6" *ngFor="let app of filteredApps">
          <!-- App card with cover image -->
          <nz-card
            [nzCover]="coverTemplate"
            [routerLink]="['/', currentLang, 'app', app.id]"
            [attr.aria-label]="'View details for ' + app.Name_En"
            class="app-card"
          >
            <ng-template #coverTemplate>
              <div style="max-height: 220px; overflow: hidden">
                <img
                  [alt]="app.Name_En+ ' screenshot'"
                  [src]="currentLang === 'en' ? app.mainImage_en : app.mainImage_ar"
                  style="width: 100%"
                />
              </div>
            </ng-template>
    
            <div class="ant-flex">
              <div class="app-icon-container">
                <img
                  class="app-icon"
                  [src]="app.applicationIcon"
                  [alt]="app.Name_En + ' icon'"
                />
              </div>
              <div class="card-data-container">
                <nz-card-meta
                  [nzTitle]="currentLang === 'en' ? app.Name_En : app.Name_Ar"
                  [nzDescription]="currentLang === 'en' ? app.Short_Description_En : app.Short_Description_Ar"
                ></nz-card-meta>
                <!-- Rating display -->
                <div class="app-rating ant-flex ant-flex-align-center">
                  <span class="rating-number">{{ app.Apps_Avg_Rating }}</span>
                  <nz-rate [ngModel]="app.Apps_Avg_Rating" [nzDisabled]="true"></nz-rate>
                </div>
              </div>
            </div>
          </nz-card>
        </div>
      </div>

    </div>
  </div>
</div>