.app-layout {
  min-height: 100vh;
}
nz-header {
  background-color: #23433d !important;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  color: white;
}

.lang-btn {
  background-color: #669a7f;
  border-color: #669a7f;
}

nz-content {
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
}

nz-footer {
  text-align: center;
}

.logo-container img {
  cursor: pointer;
}

.mobile-menu-btn {
  display: none;
  color: white;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: #23433d;
}

.mobile-menu-active {
  display: flex;
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu-btn {
    display: block;
  }

  .header-content {
    padding: 0 8px;
  }

  .mobile-menu a {
    color: white;
  }
}

::ng-deep .ant-btn-link {
  color: #fff !important;
}
