<nz-layout class="app-layout" [dir]="isRtl ? 'rtl' : 'ltr'">
  <div class="app-header">
    <div class="container">
      <div class="app-header--content">
 
          <div class="logo-container">
            <div class="logo-wrapper">
              <img
                height="40"
                src="../assets/images/logo-svg.svg"
                alt=""
                [routerLink]="['/', currentLang]"
              />
              <span class="beta-label">{{ "header.beta" | translate }}</span>
            </div>
          </div>
    
          <!-- Desktop Menu -->
          <div class="desktop-menu">
            <nz-space>
              <a *nzSpaceItem nz-button nzType="link" [routerLink]="['/', currentLang]">
                {{ "header.home" | translate }}
              </a>
              <a *nzSpaceItem nz-button nzType="link" [routerLink]="['/', currentLang, 'about-us']">
                {{ "header.about" | translate }}
              </a>
              <a *nzSpaceItem nz-button nzType="link" [routerLink]="['/', currentLang, 'contact-us']">
                {{ "header.contact" | translate }}
              </a>
              <button
                *nzSpaceItem
                nz-button
                nzType="primary"
                (click)="toggleLanguage()"
              >
                {{ "header.language." + (isRtl ? "en" : "ar") | translate }}
              </button>
            </nz-space>
          </div>
    
          <!-- Mobile Menu Button -->
          <button
            class="mobile-menu-btn"
            (click)="toggleMobileMenu()"
          >
            <span class="mobile-menu-btn--bars" [class.expanded]="isMobileMenuVisible"></span>
          </button>
        
    
        <!-- Mobile Menu -->
        <div class="mobile-menu" [class.mobile-menu-active]="isMobileMenuVisible">
          <a
          [routerLink]="['/', currentLang]"
            (click)="toggleMobileMenu()"
          >
            {{ "header.home" | translate }}
          </a>
          <a
          [routerLink]="['/', currentLang, 'about-us']"
            (click)="toggleMobileMenu()"
          >
            About Us
          </a>
          <a
          [routerLink]="['/', currentLang, 'contact-us']"
            (click)="toggleMobileMenu()"
          >
            Contact Us
          </a>
          <a
            (click)="toggleLanguage(); toggleMobileMenu()"
          >
            {{ "header.language." + (isRtl ? "en" : "ar") | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer>{{ "footer.copyright" | translate }}</nz-footer>
</nz-layout>
