.app-layout {
  min-height: 100vh;
}
.app-header {
  margin-top: 30px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  &--content {
    background-color: #f0f0f0cc;
    backdrop-filter: blur(4px);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    min-height: 60px;
    flex-flow: row wrap;
    // responsive
    @media screen and (max-width: 768px) {
      min-height: unset;
      padding: 8px;
      .logo-container {
        img {
          height: auto;
          width: 36px;
        }
      }
      
    }
  }
  @media screen and (max-width: 768px) {
    top: 20px;
    position: fixed;
    z-index: 1000;
    margin: 0;
    &::before {
      content: '';
      position: absolute;
      bottom: 90%;
      left: 0;
      width: 100%;
      height: 30px;
      background: #fff;

    }
  }
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  color: white;
}

nz-footer {
  text-align: center;
}

.logo-container img {
  cursor: pointer;
  z-index: 10;
}
.logo-wrapper {
  position: relative;
  display: inline-block;
}

.beta-label {
  z-index: 9;
  position: absolute;
  bottom: -8px;
  right: -32px;
  background: #ede0c0;
  color: #23433d;
  padding: 4px 6px 2px 6px;
  border-radius: 4px;
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
} 

[dir="rtl"] .beta-label {
  right: auto;
  left: -32px;
}

.mobile-menu-btn {
  width: 35px;
  height: 35px;
  background: none;
  border: none;
  padding: 0;
  display: none;
  .mobile-menu-btn--bars,
  .mobile-menu-btn--bars::before,
  .mobile-menu-btn--bars::after {
    background: #A0533B;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    transition: background ease 0.2s, top ease 0.2s 0.2s, transform ease 0.2s;
    width: 20px;
  }
  .mobile-menu-btn--bars {
    position: relative;
    background-color: transparent;
    transform: translate(-50%, 50%);
    left: 50%;
    &::before {
      top: -4px;
      transform: rotate(0deg);
    }
    &::after {
      top: 4px;
      transform: rotate(0deg);
    }
    &.expanded {
      background: transparent;

      &::before,
      &::after {
        top: 0;
        transition: top ease 0.2s, transform ease 0.2s 0.2s;
      }

      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}

.mobile-menu {
  padding: 16px 8px 5px;
  position: relative;
  width: 100%;
  top: 100%;
  left: 0;
  flex: 0 0 100%;
  display: none;
  &-active {
    display: block;
  }
  a {
    display: block;
    color: #A0533B;
    padding: 5px 0;
  }
}

 

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu-btn {
    display: block;
  }

  .header-content {
    padding: 0 8px;
  }
}
