<div class="contact-us-container">
  <h1>{{ "contactUs.title" | translate }}</h1>
  <div class="content">
    <div class="contact-info">
      <p>{{ "contactUs.message" | translate }}</p>
      
      <div class="contact-details">
        <div class="contact-item">
          <h3>{{ "contactUs.email" | translate }}</h3>
          <a href="mailto:connect@itqan.dev">connect&#64;itqan.dev</a>
        </div>
        <div class="contact-item">
          <h3>{{ "contactUs.appRequests" | translate }}</h3>
          <a href="https://itqan.dev">www.itqan.dev</a>
        </div>
      </div>
    </div>

  </div>
</div> 