<div class="about-us-container">
    <div class="logo-container flex justify-center items-center full-width mb-4">
        <img src="assets/images/logo-with-text.svg" alt="Quran Apps Directory" class="logo">
      </div>
  <h1>{{ "aboutUs.title" | translate }}</h1>

  <div class="content">
    <section class="mission">
      <!-- <h2>{{ "aboutUs.mission" | translate }}</h2> -->
      <p>{{ "aboutUs.missionDescription" | translate }}</p>
    </section>

    <!-- <section class="vision">
      <h2>{{ "aboutUs.vision" | translate }}</h2>
      <p>{{ "aboutUs.visionDescription" | translate }}</p>
    </section>

    <section class="values">
      <h2>{{ "aboutUs.values" | translate }}</h2>
      <ul>
        <li>{{ "aboutUs.values_list.accuracyAndAuthenticity" | translate }}</li>
        <li>{{ "aboutUs.values_list.userCentricDesignAndAccessibility" | translate }}</li>
        <li>{{ "aboutUs.values_list.continuousImprovementAndInnovation" | translate }}</li>
        <li>{{ "aboutUs.values_list.communityEngagementAndSupport" | translate }}</li>
      </ul>
    </section> -->
  </div>
</div> 